/* media css */

@media (max-width: 768px) {

  .menu__nav {
    border-radius: unset;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background: var(--cor-secundaria);
    color: white;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.3s linear;
    margin-left: 200px;
    z-index: 1;
    padding-top: 80px;
    padding-left: 33px;
  }

  .menu__nav.active {
    transform: translateX(0);
  }

  .menu__logo {
    display: block;
    position: absolute;
    left: 35px;
    top: 27px;
  }

  .menu__burger {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #c12f62;
    padding: 0.5rem;
    z-index: 1000;
    cursor: pointer;
    box-shadow: 2px 2px 5px #17141d;
  }

  .line {
    width: 22px;
    margin-bottom: 5px;
    height: 2px;
    background-color: white;
  }

  .line:last-child {
    margin-bottom: 0;
  }

  .apresentacao__media-social-icon {
    width: 70%;
  }

  .apresentacao__social-medias {
    gap: 0px;
  }

  .sobre-mim {
    gap: 30px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .foto-perfil__foto {
    width: 50%;
  }

  .sobre-mim__card {
    width: 100%;
    gap: 30px;
    padding: 10%;
    flex-direction: column;
    text-align: center;

  }

  .card__informacoes {
    text-align: center;
    align-items: center;
  }

  .card__icon {
    width: 60%;
  }

  .skills {
    margin-top: 30%;
  }

  .skills-grid {
    width: 80vw;
  }


  .portfolio {
    margin-top: 15%;
  }

  .projetos-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);

  }

  .criador {
    padding: 5%;
  }

  .mensagem-contato {
    margin-left: 10%;
    margin-right: 10%;
    gap: 5vh;
    margin-top: 25%;
    margin-bottom: 25%;
  }

}

/* for-tablet */
@media (max-width:1200px) and (min-width:768px) {

  .menu__nav {
    gap: 6%;
  }

  .foto-perfil__foto {
    width: 80%;
  }
}

@media (max-width: 1200px) and (orientation: landscape) {

  .conteudo__apresentacao {
    height: unset;
    margin-bottom: 100px;
    margin-top: 200px;
  }

  .sobre-mim {
    height: unset;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .foto-perfil__foto {
    width: 30%;
  }

  .criador {
    padding: 3%;
  }
}