/* sobre mim css*/

.sobre-mim {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  margin-left: 20%;
  margin-right: 20%;
}

.sobre-mim__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5%;
  padding: 7%;
  width: 60vw;
  background: var(--cor-secundaria);
  border-radius: 8px;
}

.sobre-mim__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.card__titulo {
  color: var(--cor-destaque);
  font-size: clamp(20px, 2.70vw, 32px);
}

.card__texto {
  color: var(--cor-tercearia);
  font-size: clamp(16px, 1.8vw, 23px);
  margin: 0px;
}

.card__descricao {
  color: var(--texto-secundario);
  font-size: clamp(12px, 1.8vw, 16px);
}

.card__informacoes {

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 30px;
}

.card__icon {
  width: 100%;
}

.foto-perfil__foto {
  width: 25%;
  border-radius: 50%;
}