@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;800&display=swap');


html {
    scroll-behavior: smooth;
}

:root {

    --font-principal: 'Raleway', sans-serif;

    --cor-destaque: #c12f62;
    --cor-background: #090e16;
    --cor-secundaria: #101926;
    --cor-tercearia: #ffff;
    --texto-secundario: #FFFFFF80;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--cor-background);
    font-family: var(--font-principal);
}

a {
    text-decoration: none;
}

/**----------------------menu----------------------**/

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
}


.menu__logo {
    display: none;
}



.menu {
    margin-top: 2vh;
    margin-left: 15%;
    margin-right: 15%;
}

.menu__nav {
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
    border-radius: 16px;
    padding: 20px 0px 20px 0px
}

.nav__link {
    text-decoration: none;
    color: var(--cor-tercearia);
    font-size: clamp(16px, 2vw, 23px);
    font-weight: 400;
    transition: 0.1s;

}

/* --------------------conteudo/apresentacao-------------------------*/

.conteudo {
    margin-left: 15%;
    margin-right: 15%;
}

.conteudo__titulo {
    color: var(--cor-tercearia);
    font-size: clamp(20px, 2.70vw, 62px);
    font-weight: 800;
}

.titulo-cor-destaque {
    color: var(--cor-destaque);
}

.conteudo__subtitulo {
    border-radius: 16px;
    color: var(--texto-secundario);
    font-size: clamp(16px, 2.0vw, 62px);
    font-weight: bold;
}

.conteudo__paragrafo {
    font-size: clamp(16px, 1.8vw, 23px);
    color: var(--cor-tercearia);
    line-height: 1.5em;
    margin-bottom: 2em;
    text-align: justify;

}

.conteudo__paragrafo--center {
    text-align: center;
    font-weight: bold;
}

.conteudo__apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 91vh;
    gap: 30px;
}

.apresentacao__nome {
    color: var(--cor-tercearia);
    font-size: clamp(20px, 2.70vw, 62px);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.apresentacao__nome--typing-animation {
    overflow: hidden;
    border-right: .15em solid;
    white-space: nowrap;
    letter-spacing: .15em;
    animation:
        typing 2.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

.apresentacao__carreira {
    color: var(--cor-tercearia);
    font-family: monospace;
    font-size: clamp(12px, 2vw, 23px);
}

.apresentacao__social-medias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.apresentacao__social-medias a {
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.apresentacao__media-social-icon {
    transition-duration: 0.2s;
}

.apresentacao__media-social-icon:hover {
    transform: scale(1.15);
}

.sobre-mim {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding-left: 25%;
    padding-right: 25%;
}

.sobre-mim__card {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
    padding: 5%;
    width: 50vw;
    background: var(--cor-secundaria);
    border-radius: 8px;
}

.card__titulo {
    color: var(--cor-destaque);
    font-size: clamp(20px, 2.70vw, 32px);
}

.card__texto {
    color: var(--cor-tercearia);
    font-size: clamp(16px, 1.8vw, 23px);
    margin: 0px;
}

.card__descricao {
    color: var(--texto-secundario);
    font-size: clamp(12px, 1.8vw, 16px);
}

.card__informacoes {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 30px;
}

.card__icon {
    width: 100%;
}


.sobre-mim__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.foto-perfil__foto {
    width: 40%;
    border-radius: 50%;
}

/*------------------ portifolio ------------------------------*/

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;
    margin-top: 10%;
}

.projetos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
}

.projetos-grid__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
    padding: 10%;
    background: var(--cor-secundaria);
    border-radius: 16px;
    transition: 0.5s;
}

.projetos-grid__link-container {
    display: flex;
    gap: 20px;
}

.projetos-grid__item-breve {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10%;
    width: auto;
    height: auto;
    background: var(--cor-secundaria);
    border-radius: 16px;
}

.projetos-grid__item__title {
    font-size: clamp(16px, 2vw, 23px);
    color: #ffff;
}

.projetos-grid__item__descricao {
    font-size: clamp(16px, 1.8vw, 23px);
    font-weight: 400;
    color: var(--texto-secundario);
    text-align: justify;
}

.projetos-grid__item img {
    width: 100%;
    border-radius: 8px;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.027),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.043),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.056),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.066),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.072),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.projetos-grid__tag-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.projetos-grid__item__tags {
    font-weight: 700;
    font-size: clamp(10px, 1.5vw, 16px);
    color: var(--cor-destaque);
}

.projetos-grid__item:hover {
    transform: scale(1.02);
}

.projetos-grid__link {
    border-radius: 8px;
    padding: 10px;
    background: var(--cor-destaque);
    font-size: clamp(13px, 1.8vw, 20px);
    font-weight: bold;
    color: var(--cor-tercearia);
    transition: 0.3s;
}

.projetos-grid__link:hover {
    transform: scale(1.10);
}

/*---------------------------------- skills --------------------------------------- */

.skills {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6vh;
}

.skills-grid img {
    width: 30%;
}

.skills-grid {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10vh;
}

.skills-grid--soft-skills {
    grid-template-columns: 1fr 1fr;
}

.skills-grid--estudando {
    grid-template-columns: 1fr 1fr;
}

.skills-grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.skills-grid__item>span {
    font-size: clamp(16px, 1.8vw, 23px);
}


/*------------------------- rodape ----------------------------*/


.criador {
    text-align: center;
    color: #ffff;
    font-size: clamp(16px, 1.8vw, 23px);
    padding: 2%;
    background: var(--cor-destaque);
}

.mensagem-contato {
    margin: 10% 0%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    text-align: center;
    color: #ffff;
}

.mensagem-contato h1 {
    color: var(--cor-destaque);
    font-size: clamp(20px, 2.0vw, 62px);
}

.mensagem-contato h2 {
    font-size: clamp(16px, 2.0vw, 23px);
}

.rodape__botao {
    border-radius: 16px;
    font-size: clamp(16px, 2.0vw, 30px);
    font-weight: bold;
    background: var(--cor-destaque);
    color: var(--cor-tercearia);
    padding: 12px;
    transition: 0.3s;
}

.rodape__botao:hover {
    transform: scale(1.1);
}

.rodape__voltar {
    color: #ffff;
}

.rodape__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.rodape__voltar {
    font-size: clamp(16px, 2.0vw, 23px);
}