@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;800&display=swap');


html {
    scroll-behavior: smooth;
}

:root {
    --font-destaque: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #090E16;
}

a{
    text-decoration: none;
}

/**----------------------menu----------------------**/

#logo1 {
    display: none;
}

.menu {
    margin-top: 2vh;
    margin-left: 15%;
    margin-right: 15%;
}

.menu__nav {
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4%;
    
    background: #7a4ae210;
    border-radius: 16px;
    padding: 25px 0px 20px 30px
}

.nav__link {
    text-decoration: none;
    color: #FFFF;
    font-size: clamp(16px, 2vw, 23px);
    font-family: var(--font-destaque);
    font-weight: 400;
    transition: 0.1s;

}

/* --------------------conteudo/apresentacao-------------------------*/

.conteudo {
    margin-left: 15%;
    margin-right: 15%;
}

.conteudo__apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 91vh;
}

.apresentacao__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    flex: 1;
}

.apresentacao__nome {
    color: #ffff;
    font-family: var(--font-destaque);
    font-size: clamp(20px, 2.70vw, 62px);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #7b4ae2;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 2.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

.apresentacao__carreira {
    color: #2CB67D;
    font-family: monospace;
    font-size: clamp(14px, 2vw, 23px);
}

.apresentacao__msg {
    border-radius: 16px;
    color: #7B4AE2;
    font-size: clamp(16px, 2.0vw, 62px);
    font-family: var(--font-destaque);
    font-weight: bold;
}

.apresentacao__social-medias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.apresentacao__social-medias a{
   padding: 0px;
   margin: 0px;
   width: 30%;
}
.div-ilustration {
    text-align: center;
    flex: 1;
}

.ilustration__svg {
    width: clamp(250px, 80%, 100%);
    height: auto;
    animation: pulse 5s linear infinite;
}

.apresentacao__baixar {
    padding: 8px;
    border-radius: 8px;
    font-size: clamp(16px, 2vw, 23px);
    font-family: var(--font-destaque);
    font-weight: 500;
    text-decoration: none;
    color: #7B4AE2;
    background: rgba(123, 74, 226, 0.1);
}

.apresentacao__cv:hover {
    transform: scale(1.1);
}

.apresentacao__media-social-icon {
    width: 100%;
    transition-duration: 0.2s;
}

.apresentacao__media-social-icon:hover {
    transform: scale(1.15);
}

.sobre-mim {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    height: 100vh;
}

.sobre-mim__nome {
    color: #ffff;
    font-family: var(--font-destaque);
    font-size: clamp(20px, 2.70vw, 62px);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.sobre-mim__paragrafo {
    font-family: var(--font-destaque);
    font-size: clamp(16px, 1.8vw, 23px);
    font-weight: 400;
    color: #FFFFFF80;
    margin-top: 10px;

}

.sobre-mim__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.foto-perfil {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-shrink: 0
}

.foto-perfil__foto {
    width: 70%;
    margin-top: 20px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    padding-top: 10%;
}

.projetos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
}

.projetos-grid__item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10%;
  
    background: rgba(123, 74, 226, 0.1);
    border-radius: 16px;
    transition: 0.5s;
}
.projetos-grid__item--breve{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10%;
    width: auto;
    height: auto;
    background: rgba(123, 74, 226, 0.1);
    border-radius: 16px;
}
.projetos-grid__item__title{
    font-family: var(--font-destaque);
    font-size: clamp(16px,2vw,23px);
    color: #ffff;
}
.projetos-grid__item__descricao{
    font-family: var(--font-destaque);
    font-size: clamp(16px, 1.8vw, 23px);
    font-weight: 400;
    color: #FFFFFF80;
}

 .projetos-grid__item img{
    width: 100%;
    border-radius: 8px;
 }
 .projetos-grid__item__tags{
    padding: 10px;
    font-family: var(--font-destaque);
    font-weight: 700;
    font-size: clamp(16px, 1.8vw, 23px);
    color: #7B4AE2;
    border-radius: 8px;
 }
 .projetos-grid__item:hover{
    transform: scale(1.05);
 }

 .skills{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6vh;
 }
 .skills-grid img{
    width: 30%;
    
 }

 .skills-utilizei-grid img{
    width: 25%;
 }
 .skills-grid{
    padding-top: 3%;
    padding-bottom: 3%;
    width: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10vh;
   
    

 }
 .skills-utilizei-grid{
    padding-top: 3%;
    padding-bottom: 3%;
    width: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10vh;
   
   
 }

 .skills-grid__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

 }
 .skills-grid__item>span{
    font-size: clamp(16px, 1.8vw, 23px);
 }
 .skills-utilizei-grid>span{
    font-size: clamp(16px, 1.8vw, 23px);
 }

 .criador{
    text-align: center;
    font-family: var(--font-destaque);
    color: #ffff;
    font-size: clamp(16px, 1.8vw, 23px);
    padding: 2%;
    background: #7a4ae210;
 }

 .mensagem-contato{
    padding: 10% 0%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    text-align: center;
    font-family: var(--font-destaque);
    color: #ffff;
  
    padding-bottom: 10%;
    
 }
 .mensagem-contato h1{
    color: #7B4AE2;
     font-size: clamp(20px, 2.0vw, 62px);
 }
.mensagem-contato h2{
    font-size: clamp(16px, 2.0vw, 23px);
}
 .rodape__botao{
    border-radius: 16px;
    color: #7B4AE2;
    font-size: clamp(16px, 2.0vw, 30px);
    font-family: var(--font-destaque);
    font-weight: bold;
    background: rgba(123, 74, 226, 0.1);
    color:#7B4AE2;
    padding: 12px;
 }

 .rodape__voltar{
    color: #ffff;
 }

 .rodape__links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
 }

 .rodape__voltar{
    font-family: var(--font-destaque);
    font-size: clamp(16px, 2.0vw, 23px);
 }

/*------------------ animacoes ------------------------- */

@-webkit-keyframes pulse {
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;

}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #7b4ae2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #7B4AE2 #101223;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #101223;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #7B4AE2;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #62A34B;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #62A34B;
}